body{
    margin: 0;
}

/* span, p{
    color: #ffff00;
    background: #000000;
    font-size: 24px;
    font-style: italic;
    display: block;

        padding: 40px 60px 30px 50px;
    padding: 20px 73px;
    padding-block: 64px;
    padding-inline: 90px;
   
    border-top: 30px solid #ff0000;
    border-left: 40px solid #00ff00;

}
p{
    border-color: #0000ff;
} */