span{
    width: 200px;
    height: 200px;
    background: red;
    display: block;
    margin: 20px;
}
.rectangle-box{
    width: 400px; 
    background: rgba(140, 96, 96, 0.443);

}
p{
    color: #ffff00;
    background: #000000;
    font-size: 24px;
    font-style: italic;
}