.box {
    display: block;
    width: 300px;
    height: 300px;
    background-color: #ff0000;
    margin: 30px;
}

.box2 {
    display: block;
    width: 200px;
    height: 200px;
    background-color: #00ff00;
    position: absolute;
    top: 50px;
}

.box3 {
    display: block;
    width: 400px;
    height: 400px;
    position: relative;
    background-color: #0000ff;
}